:root {
  --background: #0f0e17;
  --primary: #ff8906;
  --secondary: #f25f4c;
  --tertiary: #e53170;
  --text: #fffffe;
  --paragraph: #a7a9be;
}
body {
  background-color: #0f0e17;
}
#drum-machine {
  display: flex;
  background-color: var(--paragraph);
  margin: 350px auto;
  justify-content: center;
  width: 750px;
  height: 500px;
  place-items: center;
  border: 10px outset var(--secondary);
  min-width: 400px;
}
#button-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  max-width: 500px;
  max-height: 500px;
}
.drum-pad {
  padding: 25px;
  font-size: 2em;
  text-align: center;
  cursor: pointer;
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  background: var(--background);
  color: var(--text);
  box-shadow: 2px 2px 5px var(--tertiary);
}
.drum-pad:active {
  background-color: var(--tertiary);
  box-shadow: none;
}
.drum-pad.active {
  background-color: var(--tertiary);
  box-shadow: none;
}
#display {
  width: 250px;
  height: 70px;
  margin-left: 50px;
  line-height: 70px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  background-color: var(--background);
  color: var(--text);
  border-radius: 5px;
}
@media (max-width: 800px) {
  #drum-machine {
    width: 70%;
    height: auto;
    margin: 200px auto;
    padding: 20px;
    border-width: 5px;
  }

  #button-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;
    max-width: 100%;
    max-height: auto;
  }

  .drum-pad {
    padding: 15px;
    font-size: 1.5em;
  }

  #display {
    width: 200px;
    height: 50px;
    font-size: 25px;
    line-height: 50px;
    margin-left: 20px;
  }
}